

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/footer') %>

    <main>
        <h2 class="heading">Thank You!</h2>
        <p class="heading">Your order has been successfully placed. We appreciate your business.</p>
        <button class="button">    <a class="heading" href="/">Back to Home</a></button>
    </main>
</body>
</html>
